@{
    ViewData["Title"] = "Login";
}

@model LoginViewModel

<form class="user-form" asp-action="Login" method="post">
    <div class="form-divs">
        <div>
            <label asp-for="Username"></label>
            <input type="text" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <button type="submit">Login</button>
            
            
        </div>
        <div>
            <a href="/Authentication/Register">Don't have an account?</a>
        </div>
        <div>
            <a class="button" href="/Beers/Index">Cancel</a>
        </div>

    </div>
</form>