@{
    ViewData["Title"] = "Home";
}
<h1>Welcome to BeerOverflow!</h1>
<img src="../../images/logo.png" alt="BeerOverflow Logo" />
<p>At BeerOverflow, we are passionate about bringing you the finest selection of beers from around the world. Whether you're a connoisseur or just starting your beer journey, we've got something for everyone.</p>
<p>Our mission is to make every sip a delightful experience. Cheers to discovering new flavors and sharing great times with friends!</p>
