<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerOverflow Beers</title>
    <link rel="stylesheet" href="../../css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a href="/views/home/index.html">Home</a>
                | <a href="/views/beers/index.html">Beers</a>
                | <a href="/views/home/about.html">About</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <div class="table">
            <h2 class="header-cell">Beers</h2>
            <div class="row-group">
                <div class="row">
                    <div class="cell">
                        <a href="/views/beers/details.html?id=1" class="beer-link">Glarus English Ale<img src="../../images/beer1.webp" alt="Beer 1" class="beer-image"></a>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <a href="/views/beers/details.html?id=2" class="beer-link">Rhombus Porter<img src="../../images/beer2.webp" alt="Beer 2" class="beer-image"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <a href="/views/beers/details.html?id=3" class="beer-link">Opasen Char<img src="../../images/beer3.webp" alt="Beer 3" class="beer-image"></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <small>©️ Copyright 2024, BeerOverflow</small>
    </footer>
</body>
</html>
