@model AspNetCoreDemo.Models.BeerViewModel
<h2>Edit Beer</h2>
<form asp-controller="Beers" asp-action="Edit" method="post">
    <div class="form-divs">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="gray-input" readonly />
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <label asp-for="Abv"></label>
            <input asp-for="Abv" type="number" step="any" />
            <span asp-validation-for="Abv"></span>
        </div>

        <div>
            <label asp-for="StyleId"></label>
            <select asp-for="StyleId" asp-items="@Model.Styles"></select>
            <span asp-validation-for="StyleId"></span>
        </div>

        <div>
            <input type="submit" value="Save" />
            <a class="button" href="/Beers/Index">Cancel</a>
        </div>
    </div>
</form>
